.sellsContainer{
    margin: 5px;
}
.buttonContainer{
    display: flex;
    align-items: center;justify-content: space-between;
    padding: 50px 30px;

    button{
        border: 1px solid blueviolet;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: white;
        color: blueviolet;

        &:hover{
            color: white;
            background-color: blueviolet;
        }
    }
}

.para{
    font-size: smaller;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.infoContainer{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
     box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
     width: 25%;
     padding: 8px 14px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     border-radius: 5px;
     

     h1{
        margin: 30px 0 0 0;
     }

     &:hover{
        transform: translateX(1.2);
     }
}

.chartContainer{
    display: flex;
    margin-top: 30px;

    .chartTitle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 15px;

        p{
            text-transform: uppercase;
            color: gray;
        }
    }
    
    .barChart{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        width: 100%;

    }
}