.home {
  display: flex;

  .homeContainer {
    flex: 2;
    margin-left: 15%;
    .widgets,
    .charts {
      display: flex;
      margin: 5px;
      padding: 20px;
      gap: 3;
    }
    .charts {
      padding: 5px 20px;
    }
    .listContainer {
      box-shadow: 7px 2px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 7px 2px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 7px 2px 5px 0px rgba(0, 0, 0, 0.75);
      padding: 20px;
      margin-bottom: 20px;
      margin-top: 20px;

      .listTitle {
        margin-bottom: 15px;
      }
    }
  }
}
